body{
    background-image: url(../images/grassResized.jpg);
    }

// NAVBAR
.navbarContainer {
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(2,100px);
}

.navLink {
    grid-column: 3 / 9;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1;
    margin-top: 50px;
}
.navLink div {
    text-align: center;
    height: 4rem;
    // padding-top:10px;
    // width: 10rem;
    border: 3px solid black;
    border-radius: 3px 15px 0 0;
    font-family: 'Gritstone Script';
    font-size: 40px;
}

.logoCaddy{
    grid-column: 3 / 8;
    grid-row: 1;
    font-size: 200px;
    margin-top: -100px;
    text-align: center;
    text-shadow: 5px 2px #A4B494;
    font-family: 'Gritstone Script';
    color: #2A2B2A;

}

.active {
    background-color: greenyellow;
}


// LIST FOR SCORECARDS
.scoreCardList {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    padding-top: 20px;
}
.scoreCardCard {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    border: 5px solid black;
    background-color: bisque;
}

// SCORE CARD GRID
.scoreCardContainer{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    // grid-template-columns: repeat(18,1fr);
    margin: 100px;
}
.holeLabel{
    grid-row: 1;
}

.holeNumber {
    grid-row: 1;
    border: 1px solid black;
    text-align: center;

}
.yardsLabel {
    grid-row: 2
}
.holeYards {
    grid-row: 2;
    border: 1px solid blue;
    text-align: center;
}
.parLabel {
    grid-row: 3;
}
.holePar{
    grid-row: 3;
    border: 1px solid green;
    text-align: center;

}
.scoreLabel{
    grid-row: 4;
}
.holeScore{
    grid-row: 4;
}
.scoreInput{
    width: 65px;
}
// END SCORECARD GRID



    // STATS STYLING
#singleStats{
    margin-left: 100px;
    padding-top: 20px;
    height: 800;
    width: 800px;
    background: rgba(0, 0, 0, 0.3);
    font-family: "Futura";
    font: red;
    
}

.roundAverage{
    font-family: 'Futura';
    font-size: 40px;
    color: white;
}

