body{
    background-color: black;
    background: url(../images/grassResized.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

// NAVBAR
.navbarContainer {
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
    grid-template-rows: 200px 200px;
    grid-template-areas: "sideL logo sideR"
                         "sideL navBar sideR";
    // border-bottom: 10px solid #2A2B2A;
}

.navLink {
    // grid-area: navlink;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-area: navBar;
    align-items: end;
}
.navLink div {
    border: 3px solid #2A2B2A;
    border-radius: 3px 15px 0 0;
    font-family: 'Gritstone Script';
    font-size: 4rem;
    text-align: center;

}

.logoCaddy{
    grid-area: logo;
    text-align: center;
    font-size: 150px;
    text-shadow: 5px 2px #A4B494;
    font-family: 'Gritstone Script';
    color: #2A2B2A;

}

.active {
    background-color: #96A13A;
}

// HOME PAGE
.homeWelcome {

    text-align: center;
    font-family: 'Futura';
    background-color: #96A13A;
    border: 1rem solid #A4B494;
    border-radius: 5px;
    color: #CFE0C3;
}

// LIST FOR SCORECARDS
.scoreCardList {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    padding-top: 20px;
}
.scoreCardCard {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    border: 5px solid #2A2B2A;
    border-radius: 4px;
    background-color: #D0D1AC;
    text-align: center
}

// SCORE CARD GRID
.scoreCardWholePage {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.scoreCardContainer{
    grid-column: 2;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    // grid-template-columns: repeat(18,1fr);
    border: 3px solid #2A2B2A;
    border-radius: 4px;
    background-color: whitesmoke;
    padding: 10px;
    margin: 100px;
}

.totalScore {
    font-family: 'Gritstone Script';
    font-size: 100px;
    color: whitesmoke;  
    text-align: center;
    grid-column: 2;
    grid-row: 2;
}
.holeLabel{
    grid-row: 1;
}

.holeNumber {
    grid-row: 1;
    border: 1px solid black;
    text-align: center;

}
.yardsLabel {
    grid-row: 2
}
.holeYards {
    grid-row: 2;
    border: 1px solid blue;
    text-align: center;
}
.parLabel {
    grid-row: 3;
}
.holePar{
    grid-row: 3;
    border: 1px solid green;
    text-align: center;

}
.scoreLabel{
    grid-row: 4;
}
.holeScore{
    grid-row: 4;
}
.scoreInput{
    width: 65px;
}
// END SCORECARD GRID



    // STATS STYLING
.singleStats {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    padding-top: 20px;
    width: 800px;
    background: rgba(0, 0, 0, 0.3);
    font-family: "Futura";
    
}

.allUserScoresAvg {
    font-family: 'Futura';
    font-size: 40px;
    color: white;
    text-align: center;
}
.roundAverage{
    font-family: 'Futura';
    font-size: 40px;
    color: white;
    text-align: center;
}

