.scoreCard{
    display: grid;
    border: 1px solid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10,1fr);
}
.holeContainer{
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(10,1fr);
    /* grid-row: 1; */
}
.yardageContainer {
    grid-row: 2;  
}
.player1{
    grid-row: 3
}
.par{
    grid-row: 4
}

.hole {

    border: 1px solid blue;
}