<nav class="navbarContainer" ng-controller="NavCtrl">

    
        <div class="logoWhole">
            <p class="logoScore">Score</p>
            <p class="logoCaddy">ScoreCaddy</p>
        </div>

    
        <div class="navLink">
            <div ng-show="{{homePage.bang}}isLoggedIn" ng-click="navLink(homePage.url)"ng-class="{ active: isActive('/home')}">{{homePage.name}}</div>
            <div ng-show="{{roundPage.bang}}isLoggedIn" ng-click="navLink(roundPage.url)"ng-class="{ active: isActive('/ScoreCardList')}">{{roundPage.name}}</div>
            <div ng-show="{{statsPage.bang}}isLoggedIn" ng-click="navLink(statsPage.url)"ng-class="{ active: isActive('/Stats')}">{{statsPage.name}}</div>
            <div ng-show="{{logOut.bang}}isLoggedIn" ng-click="navLink(logOut.url)">{{logOut.name}}</div>
        </div>
    
</nav>