<div class="scoreCardWholePage">
    <button class='viewStatsBtn'ng-click='goToStatList()'>View Stats</button>
    <div class="scoreCardName">{{ScoreCard.name}}</div>
    <div class= 'scoreCardContainer'>

        <p class="holeLabel">Hole</p>
            <div class="holeNumContain">
            <div class='holeNumber'ng-repeat="hole in HoleInfo">
                <p>{{hole.holeNumber}}</p>
            </div>
        </div>

        <p class="yardsLabel">Yards</p>
            <div class="holeYardContain">
            <div class='holeYards'ng-repeat="hole in HoleInfo">
                <p>{{hole.yards}}</p>
            </div>
        </div>

        <p class="parLabel">Par</p>
            <div class="holeParContain">
            <div class='holePar {{Score.par}}'ng-repeat="hole in HoleInfo">
                <p class='{{hole.par}}'>{{hole.par}}</p>
            </div>
        </div>

        <p class="scoreLabel">Score</p>
            <div class="holeScoreContain">
            <div class='holeScore'ng-repeat="hole in HoleInfo">
                <input class="scoreInput" type="number" min="0" inputmode="numeric" pattern="[0-9]*" ng-model="hole.score" ng-blur="NewScore()" ng-focus="NewTotal()">
            </div>
        </div>
    </div>
<p class="totalScore"> Total :  {{ScoreTotal.Total}}</p>

</div>