<div class="form-group">

    <!-- <div > -->
    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Choose A Course
        </button>
        <div  class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <option ng-repeat='course in CourseList' ng-click='courseSelect(course.name)'>{{course.name}}</option>

        </div>
        <!-- </div> -->
    </div>

    <label>Pick A Date</label>
    <input type="text" ng-model="ScoreCard.date">
    
    <button ng-click="CreateScoreCard()">Add A New ScoreCard</button>
</div>











<div class="scoreCardList">
    <div ng-repeat="CardDisplay in AllScoreCards">
        <button class 'deleteScoreCardBtn' ng-click="deleteScoreCard(CardDisplay.id)">
            DELETE
        </button>
        <div class='scoreCardCard' ng-click='goToScoreCard(CardDisplay.id)'>
            <p class="scoreCardDate">Date:{{CardDisplay.date}}</p>

            <p class='scoreCardCourseName'>Course:{{CardDisplay.name}}</p>

            <p class="scoreCardCourseName">Score: {{CardDisplay.roundScore}}</p>
        </div>
    </div>
</div>