<div class="scoreCardCreate form-group">


    <p class="coursePickLabel">Course</p>
    <div class="courseDropDown  dropdown">
        <button class=" courseDropDown btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            {{ScoreCard.name}}
        </button>
        <div  class="dropdown-menu" aria-labelledby="dropdownMenuButton" aria-placeholder="Courses">
            <option selected hidden>Course</option>
            <option ng-repeat='course in CourseList' ng-click='courseSelect(course.name)'>{{course.name}}</option>
        </div>

    </div>
    <label class="dateLabel">Date</label>
    <input class='dateInput'type="text" ng-model="ScoreCard.date">
    
    <button class="selectCourseBtn" ng-click="CreateScoreCard()">Add A New ScoreCard</button>
    
</div>












<div class="scoreCardList">
    <div ng-repeat="CardDisplay in AllScoreCards | orderBy : 'date' ">
        
        <div class='scoreCardCard'>
            <button class='deleteScoreCardBtn ' ng-click="deleteScoreCard(CardDisplay.id)">
                <span class="glyphicon glyphicon-trash">Delete</span>
            </button>
            <p class="scoreCardDate">{{CardDisplay.date}}</p>
            
            <p class='scoreCardCourseName'>{{CardDisplay.name}}</p>
            
            <p class="scoreCardCourseScore">Score:  {{CardDisplay.roundScore}}</p>
            <div class="scoreCard__overlay">
                    <img class="scoreCardImg" src="{{CardDisplay.img}}">
                <button ng-click='goToScoreCard(CardDisplay.id)'>
                    View
                </button>
            </div>
        </div>
    </div>
</div>