<button class='userStatsBtn' ng-click="UserStats()">My stats</button>
<div class="scoreCardList">
        <div ng-repeat="CardDisplay in AllScoreCards">
    
            <div class='scoreCardCard' >
                <p class="scoreCardDate">Date:{{CardDisplay.date}}</p>
    
                <p class='scoreCardCourseName'>{{CardDisplay.name}}</p>
                <div class='statCard__overlay'>
                    <button ng-click='goToSingleStats(CardDisplay.id)'>View Stats</button>
                <button ng-click='goToScoreCard(CardDisplay.id)'>View ScoreCard</button>
                </div>
            </div>
        </div>
    </div>